@import url('https://fonts.adobe.com/fonts/brandon-grotesque');

//COLORS
$blackColor : rgba(10, 10, 10, 0.836);
$whiteColor: rgb(219, 219, 219);
$greyColor: #979797;
$lightGreyColor:#d6d6d6;
$seperatercolor:#DAECE2;
$seperatercolor2:#F0F7F3;
$darkGrayColor: #363645;
$darkGreenColor: #548483;
$mediumGreenColor:#A0CAB8;
$orangeColor: #DD641B;

$color_1: #333;
$color_2: #555;
$color_3: #818181;
$color_4: #ff00ff;

$background-color_1: #333;
$background-color_3: #fff;


//FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Brandon Grotesque', sans-serif;